# B989006 권오승(수업 중 실습)
내 데이터: 와인퀄리티 데이터셋 사용

In [36]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix

data = pd.read_csv('winequality-red.csv',sep=';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [37]:
data['quality1'] = [1 if x >= 7 else 0 for x in data['quality']]
data.quality1.value_counts()

0    1382
1     217
Name: quality1, dtype: int64

In [38]:
feature = data.drop(['quality','quality1'],axis=1)
quality = data['quality1']
feature.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [39]:
X_train, X_test, y_train, y_test = train_test_split(feature,quality,stratify=quality,test_size=0.2,random_state=1)
y_train.value_counts()

0    1105
1     174
Name: quality1, dtype: int64

## GaussianNB

In [43]:
model = GaussianNB()
scores = cross_val_score(model, X_train, y_train, scoring='accuracy', cv=10)
model.fit(X_train,y_train)

predY = model.predict(X_test)
print('Gaussian Naive Bayes accuracy: ', scores.mean())

Gaussian Naive Bayes accuracy:  0.8217458169291338

In [44]:
model = GaussianNB()
model.fit(X_train,y_train)
prediction = cross_val_predict(model, X_train, y_train, cv=10)
predY = model.predict(X_test)
cm = confusion_matrix(y_train, prediction)
acc = accuracy_score(y_test, predY)
print('predict accuracy: ',acc,'\n\n','confusion_matrix: \n',cm)

predict accuracy:  0.825

 confusion_matrix:
 [[937 168]
 [ 60 114]]

## MultinomialNB

In [45]:
model = MultinomialNB()
scores = cross_val_score(model, X_train, y_train, scoring='accuracy', cv=10)
model.fit(X_train,y_train)

predY = model.predict(X_test)
print('Multinomial Naive Bayes accuracy: ', scores.mean())

Multinomial Naive Bayes accuracy:  0.6739849901574803

In [46]:
model = MultinomialNB()
model.fit(X_train,y_train)
prediction = cross_val_predict(model, X_train, y_train, cv=10)
predY = model.predict(X_test)
cm = confusion_matrix(y_train, prediction)
acc = accuracy_score(y_test, predY)
print('predict accuracy: ',acc,'\n\n','confusion_matrix: \n',cm)

predict accuracy:  0.6875

 confusion_matrix:
 [[767 338]
 [ 79  95]]